{% extends 'base.html.twig' %}
{% form_theme formSearch  'bootstrap_4_layout.html.twig' %}


{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark  lighten-3 mb-4 BackBleuUSV" >
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="form-inline mr-autoform-control" type="text" placeholder="Search" aria-label="Search">
                {{ form_start(formSearch) }}

                {{ form_row(formSearch.title, {'attr': {'placeholder': ""}}) }}

                <i class="fas fa-search text-white ml-3" aria-hidden="true"></i>
                <a type="submit" value="hassan" class="btn btn-success" href="{{ path('actualites') }}">Les Compétitions</a>

                <button class="btn btn-success">Vie Associative</button>

                {{ form_end(formSearch) }}


                <div class="md-form my-0 text-light click">
                </div>
            </div>
        </div>
    </nav>

    <div style="">
        <div class=" ">
            <h1 class="text-center pt-5 ">actualité corepondant à votre recherche</h1>
        </div>
        <div class="d-flex flex-wrap flex-row justify-content-around" >
            {% for article in articles %}
                <div class="card mb-5" style="max-height: 650px; min-height: 650px; max-width: 450px">
                    <img class="card-img-top" src="{{ asset('images/' ~ article.filename) }}" alt="Card image cap" style="max-height: 300px; max-width: 600px">
                    <div class="font-weight-bold "> ecrit le {{ article.updatedAt | date('d/m/y') }} à   {{ article.updatedAt | date('H:i') }}</div>
                    <div class="card-body">
                        <h4 class="card-title font-weight-bold">{{ article.title }}</h4>
                        <p class="card-text">{{ article.contenu }}</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-primary  btn-rounded" href="{{ path('blog_show',{'id':article.id}) }}">Lire plus</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>


    </div>
{% endblock %}
