<div class=" d-flex justify-content flex-wrap">
    {% for article in articles %}
        <div class="card mb-2 mx-auto" style="max-height: 600px; min-height: 600px">
            <img class="card-img-top" src="{{ asset('images/' ~ article.filename) }}" alt="Card image cap" style="max-height: 300px;">
            <div class="font-weight-bold "> ecrit le {{ article.updatedAt | date('d/m/y') }} à   {{ article.updatedAt | date('H:i') }}</div>
            <div class="card-body">
                <h4 class="card-title font-weight-bold">{{ article.title }}</h4>
                <p class="card-text">{{ article.contenu }}</p>
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary  btn-rounded" href="{{ path('blog_show',{'id':article.id}) }}">Lire plus</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>