{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
 <article  class="container" style="background:url('../img/error.jpg')no-repeat center; background-size:cover;width: 1000px;height: 1000px">

 </article>
{% endblock %}
