{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div style="height: 800px">
        <div class=" " style="background-color: rgb(244,244,244);">
            <h1 class="text-center pt-5 ">Les actualités récentes</h1>
        </div>
        <div class="carousel-wrapper rgb">
            <div class="carousel align-items-center" data-flickity>
                {% for article in articles %}
                <div class="carousel-cell">
                    <div class="card mb-2" style="max-height: 600px; min-height: 600px">
                        <img class="card-img-top" src="{{ asset('images/' ~ article.filename) }}" alt="Card image cap" style="max-height: 300px;">
                        <div class="font-weight-bold "> ecrit le {{ article.updatedAt | date('d/m/y') }} à   {{ article.updatedAt | date('H:i') }}</div>
                        <div class="card-body">
                            <h4 class="card-title font-weight-bold">{{ article.title }}</h4>
                            <p class="card-text">{{ article.contenu }}</p>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-primary  btn-rounded" href="{{ path('blog_show',{'id':article.id}) }}">Lire plus</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
