
{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <section class=" d-flex justify-content-center container z-depth-1 my-3 ">
            <article class=" d-flex justify-content-center flex-column my-3 px-5">
                <h2 class="text-center">{{ article.title }}</h2>
                <p class="  text-left date "> publié le {{ article.updatedAt | date('d/m/y') }} à   {{ article.updatedAt | date('H:i') }}</p>
                <div class="styleOne"></div>
                <img class="mx-auto img-fluid" src="{{ asset('images/' ~ article.filename) }}" alt="">
                    <p class="">{{ article.content | raw }}</p>
                    <div class="styleOne"></div>
                    <h2 class="text-center mx-auto">Cliquer ici pour revenir au début</h2>
                    <a class="btn btn-primary w-25 mx-auto" href="{{ path("home") }}"><i class="fas fa-undo-alt"></i></a>
            </article>
    </section>
    <div class="z-depth-3  scroll-top d-flex justify-content-center align-self-center " data-scroll="up" >
        <i class="fa fa-chevron-up my-auto"></i>
    </div>
{% endblock %}

