{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="logoContainer py-3">
        <h1 class="text-uppercase font-weight-bold Bureau text-center w-responsive animated bounceIn wow">bureau</h1>
        <div class="d-flex justify-content-center py-3 align-items-center flex-wrap container-fluid organigram" >
            <div class="animated bounceInLeft wow">
                <h5 class="text-uppercase font-weight-bold text-white text-right">Ribeyre</h5>
                <h5 class=" font-weight-bold text-white text-right">Philipe</h5>
                <p class="text-white text-right">Président</p>
            </div>
            <div class="contourAdmin mx-3 z-depth-2 animated bounceIn  wow ">
                <div class="d-flex justify-content-center imgAdmin animated"><img class="img-fluid  animated " srcset="{{ asset('PhotoConseil/Philipe.png') }} "></div>
                <div >
                    <div class="RUSV  ">

                    </div >
                    <div class="JUSV  ">

                    </div>
                    <div class="VUSV  ">

                    </div>
                </div>
            </div>
                <img class="usv_logo moncercle img-fluid animated bounceIn wow" src="{{ asset('usv_logo.png') }}"  >
            <div class="contourAdmin mx-3 z-depth-2 animated bounceIn wow">
                <div class="imgAdmin animated  d-flex justify-content-center animated "><img class="img-fluid animated" src="{{ asset('PhotoConseil/Henry.png') }}"></div>
                <div>
                    <div class="RUSV">

                    </div >
                    <div class="JUSV">

                    </div>
                    <div class="VUSV">

                    </div>
                </div>
            </div>
            <div  class="animated bounceInRight wow">
                <h5 class="text-uppercase font-weight-bold text-white text-left">Vuillet</h5>
                <h5 class="font-weight-bold text-white text-left">Henri</h5>
                <p class="text-white text-left">Vice-Président<br>Secretaire</p>
            </div>
        </div>
        <div class="contourAdmin mx-auto z-depth-2 animated bounceIn wow">
            <div class="imgAdmin animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Anthony.png') }}"></div>
            <div class="">
                <div class="RUSV">

                </div >
                <div class="JUSV">

                </div>
                <div class="VUSV">

                </div>
            </div>
        </div>
        <div class=" d-flex justify-content-center organigram">
            <div class="mx-auto animated bounceInUp wow">
                <h5 class="text-uppercase font-weight-bold text-white text-center">Guizon</h5>
                <h5 class=" font-weight-bold text-white text-center">Anthony</h5>
                <p class="text-white text-center">Trésorier</p>
            </div>

        </div>
    </div>
    <h1 class="text-uppercase font-weight-bold ConseilAd text-center text-white w-responsive my-3 animated bounceIn wow ">Conseil D'administration</h1>
    <div class="d-flex flex-row justify-content-around flex-wrap">
        <div class="py-3 ">
            <div class="contourAdmin2 mx-auto z-depth-2 animated bounceInLeft  wow">
                <div class="imgAdmin2 animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Roland.png') }}"></div>
                <div class="BUSV">

                </div >
            </div>
            <div class="text-center text-dark pt-3 animated bounceInUp wow textA2">
                <p>BERNERD<br>
                Roland</p>
            </div>
            <div class="cercleTierC mx-auto animated bounceIn wow z-depth-2">
                <h4 class="text-white font-weight-bold text-uppercase my-auto">C3</h4>
            </div>
        </div>
        <div class="py-3">
            <div class="contourAdmin2 mx-auto z-depth-2 animated bounceInLeft  wow">
                <div class="imgAdmin2 animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Hassan.png') }}"></div>
                <div class="BUSV">

                </div >
            </div>
            <div class="text-center text-dark pt-3 animated bounceInUp wow textA2">
                <p>EL BELGHITI<br>
               Hassan</p>
            </div>
            <div class="cercleTierC mx-auto animated bounceIn wow z-depth-2">
                <h4 class="text-white font-weight-bold text-uppercase my-auto">C2</h4>
            </div>
        </div>
        <div class="py-3">
            <div class="contourAdmin2 mx-auto z-depth-2 animated bounceInLeft  wow">
                <div class="imgAdmin2 animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Cristophe.png') }}"></div>
                <div class="BUSV">

                </div >
            </div>
            <div class="text-center text-dark pt-3 bounceInUp wow textA2">
                <p>ENJOLRAS<br>
                Cristophe</p>
            </div>
            <div class="cercleTierA mx-auto animated bounceIn wow z-depth-2">
                <h4 class="text-white font-weight-bold text-uppercase my-auto">A3</h4>
            </div>
        </div>
        <div class="py-3">
            <div class="contourAdmin2 mx-auto z-depth-2 animated bounceInLeft  wow">
                <div class="imgAdmin2 animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Jean_Paul.png') }}"></div>
                <div class="BUSV">

                </div >
            </div>
            <div class="text-center text-dark pt-3 bounceInUp wow textA2">
                <p>GORY<br>
               Jean-Paul</p>
            </div>
            <div class="cercleTierB mx-auto animated bounceIn wow z-depth-2">
                <h4 class="text-white font-weight-bold text-uppercase my-auto">B3</h4>
            </div>
        </div>
        <div class="py-3">
            <div class="contourAdmin2 mx-auto z-depth-2 animated bounceIn wow">
                <div class="imgAdmin2 animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Jean_Louis.png') }}"></div>
                <div class="BUSV">

                </div >
            </div>
            <div class="text-center text-dark pt-3 bounceInUp wow textA2">
                <p>GOUTEREDONDE<br>
                Jean-Louis</p>
            </div>
            <div class="cercleTierB mx-auto animated bounceIn wow z-depth-2">
                <h4 class="text-white font-weight-bold text-uppercase my-auto">B2</h4>
            </div>
        </div>

        <div class="py-3">
            <div class="contourAdmin2 mx-auto z-depth-2 animated bounceInRight wow">
                <div class="imgAdmin2 animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Anthony2.png') }}"></div>
                <div class="BUSV">

                </div >
            </div>
            <div class="text-center text-dark pt-3 bounceInUp wow textA2">
                <p>GUIZON<br>
               Anthony</p>
            </div>
            <div class="cercleTierB mx-auto animated bounceIn wow z-depth-2">
                <h4 class="text-white font-weight-bold text-uppercase my-auto">B1</h4>
            </div>
        </div>
        <div class="py-3">
            <div class="contourAdmin2 mx-auto z-depth-2 animated bounceInRight wow">
                <div class="imgAdmin2 animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Philipe2.png') }}"></div>
                <div class="BUSV">

                </div >
            </div>
            <div class="text-center text-dark pt-3 bounceInUp wow textA2">
                <p>RIBEYRE<br>
                Philipe</p>
            </div>
            <div class="cercleTierA mx-auto animated bounceIn wow z-depth-2">
                <h4 class="text-white font-weight-bold text-uppercase my-auto">A1</h4>
            </div>
        </div>
        <div class="py-3">
            <div class="contourAdmin2 mx-auto z-depth-2 animated bounceInRight wow">
                <div class="imgAdmin2 animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Alain.png') }}"></div>
                <div class="BUSV">

                </div >
            </div>
            <div class="text-center text-dark pt-3 bounceInUp wow textA2">
                <p >VERGEZAC<br>
               Alain</p>
            </div>
            <div class="cercleTierC mx-auto animated bounceIn wow z-depth-2">
                <h4 class="text-white font-weight-bold text-uppercase my-auto">C1</h4>
            </div>
        </div>
        <div class="py-3">
            <div class="contourAdmin2 mx-auto z-depth-2 animated  bounceInRight wow">
                <div class="imgAdmin2 animated  d-flex justify-content-center"><img class="img-fluid self" src="{{ asset('PhotoConseil/Henry2.png') }}"></div>
                <div class="BUSV">

                </div>
            </div>
            <div class="text-center text-dark pt-3 bounceInUp wow textA2">
                <p>VUILLET<br>
                Henri</p>
            </div>
            <div class="cercleTierA mx-auto animated bounceIn wow z-depth-2">
                <h4 class="text-white font-weight-bold text-uppercase my-auto">A2</h4>
            </div>
        </div>
    </div>
    <div class=" d-flex flex-row justify-content-end tierMin ">
        <div class="cercleTierAmin animated bounceIn wow z-depth-2"></div>
        <p class="ml-2 mr-5 animated bounceIn wow ">Sièges Tier A</p>
        <div class="cercleTierBmin animated bounceIn wow z-depth-2"></div>
        <p class="ml-2 mr-5 animated bounceIn wow ">Sièges Tier B</p>
        <div class="cercleTierCmin animated bounceIn wow z-depth-2"></div>
        <p class="ml-2 mr-5 animated bounceIn wow ">Sièges Tier C</p>
    </div>
{% endblock %}
