body {
  background: url("fitness-1882721_1280.jpg") no-repeat fixed;
  background-size: cover;
}

.usv_logo {
  width: 140px;
  height: 140px;
  background-size: cover;
}

#moncercle {
  background: white;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: 2px solid white;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavUSV {
  font-size: 30px;
  background-color: #243c7a;
}

.btn-success {
  background-color: #2a9245;
}

.activites {
  background: url("man-1871631_1280.jpg") fixed no-repeat;
  background-size: cover;
  height: 300px;
  transition-duration: 0.6s;
}
.activites h1 {
  color: #f8c933;
  transition-duration: 0.6s;
}
.activites h1:hover {
  transition-duration: 0.6s;
}
.activites p {
  font-size: 18px;
  transition-duration: 0.6s;
}
.activites p:hover {
  transition-duration: 0.6s;
  cursor: pointer;
  transform: scale(1.1);
}

.activites:hover {
  transition-duration: 0.6s;
  background: url("sombre.jpg") fixed no-repeat;
  background-size: cover;
}

footer {
  background-color: #243c7a;
  height: 200px;
}
footer .fa {
  text-decoration: none;
  transition-duration: 0.6s;
  color: white;
}
footer .fa:hover {
  text-decoration: none;
  transition-duration: 0.6s;
  color: #f8c933;
  cursor: pointer;
}

/*# sourceMappingURL=app.css.map */
