
$primary-color: #333;
$BleuUSV: #243c7a;
$jauneUSV: #f8c933;
$VertUSV: #2a9245;
$RougeUSV: #cf292b;

html, body {
  overflow-x: hidden;
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  width: 100%;
}
.no-scroll{
  overflow-y: hidden;
}
.yes-scroll{
  overflow-y: auto;
}
.logo110 {
  background: url('logo-USV-110e-O(1)-1.png') no-repeat fixed;
  background-size:  738px 954px;
  max-width: 738px;
  max-height: 954px;
  margin: auto;
}
.usv_logo:hover {
}

.date{
  font-size: 12px;
}
.styleOne {

  background: rgba(244, 244, 244, 1);
  border: 0;
  height: 1px;
  margin: 22px 0;
}
.styleOne1 {

  background: rgba(244, 244, 244, 0.5);
  border: 0;
  height: 1px;
  margin: 22px 0;
}
.article-line {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

@media screen and(min-width: 850px) and (max-width: 4000px)
{
  .ch-img-1, .ch-img-2, .ch-img-3, .ch-info{
    background-color: white;
    background-image: url(usv_logo.png);
  }
}
@media screen and(max-width: 850px)
{
  .ch-img-1, .ch-img-2, .ch-img-3, .ch-info{
    background-color: white;
    background-image: url(usv_logoMed.png);
  }
}
@media screen and(max-width: 640px)
{
  .ch-img-1, .ch-img-2, .ch-img-3, .ch-info{
    background-color: white;
    background-image: url(usv_logoMedMin.png);
  }

}
@media screen  and (max-width: 500px)
{
  .ch-img-1, .ch-img-2, .ch-img-3, .ch-info{
    background-image: url(usv_logoMin.png);
  }
}

.usv_logo{
  max-width: 300px;
  max-height: 300px;
  position: relative;
  @media screen and(max-width: 850px){
    max-width: 190px;
    max-height: 190px;
    position: relative;
    @media screen and(max-width: 640px){
      max-width: 150px;
      max-height: 150px;
      position: relative;
    }
    @media screen and (orientation:portrait) and(max-width: 500px){
      max-width: 60px;
      max-height: 60px;
      position: relative;
    }
  }
}
.moncercle{
  background:white;
  border-radius:50%;
  border:2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cercleTierA{
  background: $RougeUSV;
  border-radius:50%;
  width:50px;
  height:50px;
  border:1px solid $BleuUSV;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cercleTierB{
  background: $jauneUSV;
  border-radius:50%;
  width:50px;
  height:50px;
  border:1px solid $BleuUSV;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cercleTierC{
  background: $VertUSV;
  border-radius:50%;
  width:50px;
  height:50px;
  border:1px solid $BleuUSV;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (orientation:portrait) and(max-width: 500px){
  .cercleTierC  , .cercleTierB  , .cercleTierA
  {
    width:25px;
    height:25px;
  }
}
.organigram{
  h5{
    @media screen and (orientation:portrait ) and(max-width: 500px)
    {
      font-size: 9px;
    }
  }

  @media screen and (orientation:portrait ) and(max-width: 500px)
  {
    font-size: 8px;
  }
}
.cercleTierAmin{
  background: $RougeUSV;
  border-radius:50%;
  width:25px;
  height:25px;
  border:1px solid $BleuUSV;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cercleTierBmin{
  background: $jauneUSV;
  border-radius:50%;
  width:25px;
  height:25px;
  border:1px solid $BleuUSV;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tierMin{
  @media screen and (orientation:portrait ) and(max-width: 500px)
  {
    font-size: 6px;
  }
}
.cercleTierCmin{
  background: $VertUSV;
  border-radius:50%;
  width:25px;
  height:25px;
  border:1px solid $BleuUSV;
  display: flex;
  align-items: center;
  justify-content: center;
}

.NavUSV {

  font-size: 100%;
  background-color: rgb(36,60,122);
}

.textA2
{
  @media screen and (orientation:portrait) and(max-width: 500px)
    {
      font-size: 6px;
    }
}

h4
{
  @media screen and (orientation:portrait) and(max-width: 500px)
  {
    font-size: 12px;
  }
}

.logoContainer{
  background-color: $BleuUSV;
}

.btn-success{
  background-color: rgb(42,146,69);
}
.RUSV{
  background-color: $RougeUSV;
  height: 45px;
  @media screen and(max-width: 640px) {
    height: 35px;
  }
  @media screen and (orientation:portrait) and(max-width: 500px) {
    height: 12px;
  }
}
.JUSV{
  background-color: $jauneUSV;
  height: 45px;
  @media screen and(max-width: 640px) {
    height: 35px;
  }
  @media screen and (orientation:portrait) and(max-width: 500px){
    height: 12px;
  }
}
.VUSV{
  background-color: $VertUSV;
  height: 45px;
  @media screen and(max-width: 640px) {
    height: 35px;
  }
  @media screen and (orientation:portrait)and(max-width: 500px) {
    height: 12px;
  }
}
.BUSV{
  background-color: $BleuUSV;
  height: 172px;
  @media screen and (orientation:portrait) and(max-width: 500px)
  {
    height: 57px
  }
}
.activites:hover
{
  transition-duration: 0.6s;
}
.partenaire
{
  max-width: 700px;
  max-height: 300px;
}

.cercleTierA:hover, .cercleTierB:hover, .cercleTierC:hover, .cercleTierAmin:hover, .cercleTierBmin:hover, .cercleTierCmin:hover{
  transition-duration: 0.6s;
  transform: scale(1.1);
  cursor: pointer;
}
.imgAdmin{
  position:absolute;
  max-width: 130px; max-height: 130px;left: 0;
  right: 0;
  top:0;
  bottom:0;
  margin: auto;
  z-index: 1;
  @media screen and(max-width: 640px) {
    img {
      width: 100px;
      height: 100px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: 1;
    }
  }
  @media screen and (orientation:portrait) and(max-width: 500px) {
    img {
      width: 33px; height: 33px;
      left: 0;
      right: 0;
      top:0;
      bottom:0;
      margin: auto;
      z-index: 1;

    }
  }
}
.contourAdmin{
  position: relative;
  width: 135px;
  height: 135px;
  @media screen and(max-width: 640px) {
    width: 105px; height: 105px;
    position: relative;
  }
  @media screen and (orientation:portrait) and(max-width: 500px){
    width: 36px;
    height: 36px;
    position: relative;
  }
}
.imgAdmin2{
  position:absolute;
  width: 112px; height: 169px;left: 0;
  right: 0;
  top:0;
  bottom:0;
  margin: auto;
  z-index: 1;
  @media screen and (orientation:portrait) and(max-width: 500px)
  {
    width: 36px; height: 55px;
    right: 0;
    top:0;
    bottom:0;
    margin: auto;
    z-index: 1;
    position:absolute;
  }
}
.contourAdmin2{
  position: relative;
  width: 115px;
  height: 172px;

  @media screen and (orientation:portrait) and(max-width: 500px){
      width: 38px; height: 57px;
    position: relative;
  }
}
.imgAdmin2:hover,.imgAdmin:hover,.usv_logo:hover, .moncercle:hover
{
  animation: pulse  1s linear ;
  z-index: 1;
}
.Bureau{
  background-color: white;
  color: $BleuUSV;
  margin: auto;
  max-width: 200px;

  @media screen and (orientation:portrait) and(max-width: 500px){
    margin: auto;
    max-width: 75px;
    font-size: 14px;
  }
}

.ConseilAd{
  background-color: $BleuUSV;
  margin: auto;
  max-width: 650px;

  @media screen and (orientation:portrait) and(max-width: 500px){
    margin: auto;
    max-width: 217px;
    font-size: 14px;
  }
}
footer{
  background-color: $BleuUSV;
}
.click{
  cursor: pointer;
}
/*----------------------------------------------------------------------------------------------------*/
/*-----------------------------------------------activité---------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
.logoActivite{
  max-width: 110px;
  max-height: 110px;
  min-height: 50px;
  min-width: 50px;
}
.cercleActivite
{
  border-radius:50%;
  max-width: 115px;
  max-height: 115px;
  min-height: 52px;
  min-width: 52px;
  transition-duration: 0.6s;
  background-color: rgb(39,52,122);
}
.cercleActivite1
{
  background-color: rgb(255,198,27);
  transition-duration: 0.6s;
}
.cercleActivite2
{
  background-color: rgb(254,225,135);
  transition-duration: 0.6s;
}
.cercleActivite:hover
{
  transition-duration: 0.6s;
  filter:grayscale(100%);
  cursor: pointer;
  transition-duration: 0.6s;
  transform: scale(1.15);
}

.activites {
  background-color: rgb(235,235,235);

  transition-duration: 0.6s;

  p {
    transition-duration: 0.6s;
    cursor: pointer;
  }
  p:hover{
    transition-duration: 0.6s;
    transform: scale(1.1);
  }
}
/*----------------------------------------------------------------------------------------------------*/
/*---------------------------------------------Carousel Card------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Hind:400,700");

img {

  height: auto;
  display: block;
}

h3 {
  text-align: center;
  font-weight: 400;
  margin-bottom: 0;
}
.carousel-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  top: 48.8%;
  left: 50%;
  transform: translate(-50%, -50%);
  //background-color: rgba(255,255,255,0.3);
  //background-image: linear-gradient(rgba(36, 60, 122,1) 50%, rgba(36, 60, 122,0.6) 50%, rgba(36, 60, 122,1) 50%);
  //background-image: linear-gradient(rgba(255, 255, 255,1) 50%, rgba(255, 255, 255,0.6) 50%, rgba(255, 255, 255,1) 50%);
  background-image: linear-gradient(rgba(244, 244, 244,1) 50%, rgba(244, 244, 244,0.6) 50%, rgba(244, 244, 244,1) 50%);
  //box-shadow: 0px 12px 39px -19px rgba(0, 0, 0, 0.75);
  overflow: hidden;
}
.carousel-wrapper .carousel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: auto;
}
.carousel-wrapper .carousel .carousel-cell {
  border-radius: 2px;
  height: auto;
  min-width: 500px;
  max-width: 500px;
  margin: 0 50px;
  transition: transform 500ms ease;
}

.carousel-wrapper .carousel .carousel-cell .more {
  display: block;
  opacity: 0;
  margin: 5px 0 15px 0;
  text-align: center;
  font-size: 10px;
  color: #CFCFCF;
  text-decoration: none;
  transition: opacity 300ms ease;
}
.carousel-wrapper .carousel .carousel-cell .more:hover, .carousel-wrapper .carousel .carousel-cell .more:active, .carousel-wrapper .carousel .carousel-cell .more:visited, .carousel-wrapper .carousel .carousel-cell .more:focus {
  color: #CFCFCF;
  text-decoration: none;
}
.carousel-wrapper .carousel .carousel-cell .line {
  position: absolute;
  width: 2px;
  height: 0;
  background-color: black;
  left: 50%;
  margin: 5px 0 0 -1px;
  transition: height 300ms ease;
  display: block;
}
.carousel-wrapper .carousel .carousel-cell .price {
  position: absolute;
  font-weight: 700;
  margin: 45px auto 0 auto;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
  transition: opacity 300ms ease 300ms;
}
.carousel-wrapper .carousel .carousel-cell .price sup {
  top: 2px;
  position: absolute;
}
.carousel-wrapper .carousel .carousel-cell.is-selected {
  transform: scale(1.1);
}
.carousel-wrapper .carousel .carousel-cell.is-selected .line {
  height: 35px;
}
.carousel-wrapper .carousel .carousel-cell.is-selected .price, .carousel-wrapper .carousel .carousel-cell.is-selected .more {
  opacity: 1;
}
.carousel-wrapper .flickity-page-dots {
  display: none;
}
.carousel-wrapper .flickity-viewport, .carousel-wrapper .flickity-slider {
  overflow: visible;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.wow {
  visibility: hidden;
  data-wow-iteration: infinite;
}

/*----------------------------------------------------------------------------------------------------*/
/*----------------------------------------------Fixed Button------------------------------------------*/
/*----------------------------------------------------------------------------------------------------*/
.scroll-top {
  position: fixed;
  display: none;
  border-radius:50%;
  width: 75px;
  height: 75px;
  right: 30px;
  bottom: 50px;
  background-color: $RougeUSV;
  color: white;
  opacity: 70%;
}

.scroll-top, i{
  display: inline-block;
}

//background Color

.BackBleuUSV{
  background-color: $BleuUSV;
}

btn-success{
  background-color: $BleuUSV;
}