<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('usv_logo.png') }}" />
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
            <link rel="stylesheet" href="{{ asset('stylesheets/style.css') }}">
            <link rel="stylesheet" href="{{ asset('MDB-Free_4.7.0/css/mdb.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/cssCircle/demo.css') }}">
            <link rel="stylesheet" href="{{ asset('/cssCircle/style.css') }}">
            <link rel="stylesheet" href="{{ asset('/cssCircle/common.css') }}">
            <link rel="stylesheet" href="https://unpkg.com/flickity@2.0/dist/flickity.min.css">
            <script src="https://unpkg.com/flickity@2.0/dist/flickity.pkgd.min.js"></script>
        {% endblock %}
    </head>
    <body>
    <nav class="NavUSV navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Historique</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('vieAssociative') }}">Vie Associative</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('actualites') }}">Toute Les Actualités </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('vieAssociative') }}">Hassan El Belghiti </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('vieAssociative') }}">Compétitions </a>
                </li>
                {%  if not is_granted('ROLE_ADMIN')%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_home') }}">Administration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('security_logout') }}">Deconnexion</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% if app.request.requestUri != '/vieAssos' %}
    <div class="logoContainer d-flex justify-content-center py-3">
        <section class="main">
            <ul class="ch-grid">
                <li>
                    <div class="ch-item ch-img-1 usv_logo mx-auto">
                        <div class="ch-info  " onclick="location.href='{{ path('vieAssociative') }}'">
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </div>
    {% endif %}
    {% if app.request.requestUri == '/' %}
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" style="background:url('{% for image in images %}{{ asset('images/' ~ image.filename)}}{% endfor %}')no-repeat;background-size: 100% 500px; height: 500px">
            </div>
            {% for image in images|slice(1,50) %}
            <div class="carousel-item" style="background:url('{{ asset('images/' ~ image.filename) }}')no-repeat;background-size: 100% 500px; height: 500px">
            </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endif %}
    {% block body %}{% endblock %}

    {% block logo %}
        {% if app.request.requestUri == '/' %}
            <div class="activites text-dark  py-5" >
                <h1 class="font-weight-bold text-center text-dark my-5"> Nos activités</h1>
                <div class="styleOne1 w-75 mx-auto"></div>
                <div class=" d-flex justify-content-around text-center mx-auto flex-wrap  w-responsive w-75" style="width: 100%;">
                    <div class="mx-1">
                        <div class="d-flex justify-content-between text-center flex-column mx-1 ">
                            <img src="{{ asset('CardioIcon.png') }}"  class="logoActivite img-fluid cercleActivite z-depth-1">
                        </div>
                        <p>Cardio</p>
                    </div>
                    <div class="mx-1">
                        <div class="">
                            <img src="{{ asset('MusculationIcon.png') }}"  class="logoActivite img-fluid cercleActivite z-depth-1">
                        </div>
                        <p class="text-center">Musculation</p>
                    </div>
                    <div class="mx-1">
                        <div class="">
                            <img src="{{ asset('PowerLiftingIcon.png') }}" class="logoActivite img-fluid cercleActivite z-depth-1 cercleActivite1" >
                        </div>
                        <p>Force Athlétique</p>
                    </div>
                    <div class="mx-1">
                        <div class="">
                            <img src="{{ asset('Halterophilie.png') }}"  class="logoActivite img-fluid cercleActivite z-depth-1 cercleActivite2">
                        </div>
                        <p>Haltérophilie</p>
                    </div>


                </div>
            </div>

        {% endif %}
    {% endblock %}

    {% block footer %}
        <div class="w-100 mx-auto text-center mx-auto  w-100 py-3 rgba-grey-light">
            <h1 class="mt-5">  Nos Partenaires</h1>
            <img class=" mx-auto " onclick="location.href='https://www.auvergnerhonealpes.fr/';" src="{{ asset('logo-partenaire-2017-rvb-pastille-bleue-png.png') }}" >
            <div class=" d-flex justify-content-center ">
                <img  class=" partenaire" onclick="location.href='http://www.hauteloire.fr/';" src="{{ asset('Haute_Loire.png') }}">
                <img class=" " onclick="location.href='http://www.lepuyenvelay.fr/';"src="{{ asset('logo ville 2011.png') }}">
            </div>
        </div>
        <footer class="page-footer font-small  pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase font-weight-bold">Horaires:</h5>
                        <p>10h00-21h00 du lundi au vendredi</p>
                        <p>9h00-18h00 le samedi</p>
                        <p>9h00-12h00 le dimanche</p>
                        <h6 class="font-weight-bold">Tarifs: 150€ la saison</h6>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-6 mb-md-0 mb-3 ">
                        <h5 class="text-uppercase font-weight-bold click" onclick="location.href='https://www.facebook.com/pg/unionsportiveduvelay/about/?ref=page_internal'">nous contacter</h5>
                        <p><i class="fab fa-facebook click" onclick="location.href='https://www.facebook.com/pg/unionsportiveduvelay/about/?ref=page_internal'"></i> Notre Facebook </p>
                        <p><i class="fas fa-phone"></i> 06 30 04 47 57</p>
                        <p><i class="fas fa-home"></i> 38 Rue 86E Régiment d'Infanterie, 43000 Le Puy-en-Velay</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-4">© 2019 Copyright:
                <a href="https://mdbootstrap.com/education/bootstrap/"> Union Sportive du Velay</a>
            </div>
            </div>
            {% if app.request.requestUri == '/' %}
            <div aria-hidden="true" aria-labelledby="myModalLabel" class=" mx-auto modal fade auto" id="modalIMG" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg mx-auto" role="document">
                    <div class="">
                        <div class="" style="background-color: rgba(255,255,255,0.0)">
                            <div class="d-flex justify-content-center mx-auto ">
                                <img class="img-fluid mx-auto" src="{{ asset('stylesheets/logo-USV-110e-O(1)-1.png') }}" alt="" style="  width: 487px; height: 749px">
                            </div>
                        </div>
                        <div class="">
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-outline-primary btn-rounded text-center" data-dismiss="modal" type="button">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}


        </footer>

    {% endblock %}

    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            <script src="{{ asset('ckeditor_4.11.1_full/ckeditor/ckeditor.js') }}"></script>
            <script type="text/javascript" src="MDB-Free_4.7.0/js/jquery-3.3.1.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="MDB-Free_4.7.0/js/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="MDB-Free_4.7.0/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="MDB-Free_4.7.0/js/mdb.min.js"></script>
            <script>
                wow = new WOW({
                    boxClass: 'wow', // default
                    animateClass: 'animated', // default
                    offset: 0, // default
                    mobile: true, // default
                    live: true // default
                })
                wow.init();
                </script>
        {% if app.request.requestUri == '/' %}
        <script>
                //modal
                $('#modalIMG').modal('show');
                if($('#modalIMG').modal('show'))
                {
                    $("body, html").toggleClass("no-scroll");
                }
                $('#modalIMG').on('hidden.bs.modal', function (e) {
                    $("body, html").toggleClass("yes-scroll");
                })

            </script>
        {% endif %}
        <script>
            $(document).ready(function () {
                $('.scroll-top').click(function () {
                    $("html, body").animate({
                        scrollTop: 0
                    }, 300);
                    return false;
                });
            });
        </script>
    {% endblock %}
    </body>
</html>





