{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <div class="mx-auto w-100 d-flex justify-content-center mx-3">
        <a class="btn btn-primary" href="{{ path('create') }}">Ajouter un article</a>
    </div>
    <section class="  articles d-flex justify-content-center flex-wrap align-items-baseline mb-3" style="border: solid black 1px;">
        {% for article in articles %}
            <article  style="width:30%" class="px-1 py-3">
                <h2 class="text-center ">{{ article.title }}</h2>
                <div class="contenu d-flex flex-column justify-content-center">
                    <img src="{{ asset('images/' ~ article.filename) }}" style="height: 300px" alt="">
                    <p >{{ article.contenu  }}</p>
                    <div class="font-weight-bold "> ecrit le {{ article.updatedAt | date('d/m/y') }} à   {{ article.updatedAt | date('H:i') }}</div>
                    <a href="{{ path('edit', {'id':article.id}) }}" class="btn btn-primary">Modifier Article</a>
                    <a href="{{ path('delete', {'id':article.id}) }}" class="btn btn-danger">Suprimer Article</a>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}



