{% extends 'base.html.twig' %}
{% form_theme formCreateI  'bootstrap_4_layout.html.twig' %}


{% block body %}

    {{ form_start(formCreateI) }}
        {{ form_row(formCreateI.imageFile, {'attr': {'placeholder': "Image"}}) }}

    {% if  editMode %}
        <button type="submit" class="btn btn-success">
            Modifier
        </button>
    {% else %}
        <button type="submit" class="btn btn-success">
            Ajouter
        </button>
    {% endif %}f
    {{ form_end(formCreateI) }}
{% endblock %}



