{% extends '@EasyAdmin/default/new.html.twig' %}
{% form_theme formArticle  'bootstrap_4_layout.html.twig' %}


{% block body %}
    {{ form_start(formArticle) }}
        {{ form_row(formArticle.title, {'attr': {'placeholder': "titre de l'article"}}) }}

        {{ form_row(formArticle.contenu, {'attr': {'placeholder': "Description"}}) }}

        {{ form_row(formArticle.content, {'attr': {'placeholder': ""}}) }}

        {{ form_row(formArticle.imageFile, {'attr': {'placeholder': "Image"}}) }}
        {% if  editMode %}
            <button type="submit" class="btn btn-success">
                Modifier
            </button>
        {% else %}
            <button type="submit" class="btn btn-success">
                Ajouter
            </button>
         {% endif %}
    {{ form_end(formArticle) }}
{% endblock %}



